{% if page.author_profile or layout.author_profile or page.sidebar %}
<div class="sidebar sticky">
    {% if page.author_profile or layout.author_profile %}{% include author-profile.html %}{% endif %} {% if page.sidebar
    %} {% for s in page.sidebar %} {% if s.image %}
    <img src="{{ s.image | relative_url }}" alt="{% if s.image_alt %}{{ s.image_alt }}{% endif %}"> {% endif %} {% if
    s.title %}
    <h3>{{ s.title }}</h3>{% endif %} {% if s.text %}{{ s.text | markdownify }}{% endif %} {% if s.nav %}{% include
    nav_list nav=s.nav %}{% endif %} {% endfor %} {% if page.sidebar.nav %} {% include nav_list nav=page.sidebar.nav %}
    {% endif %} {% endif %}

    <!-- 카테고리 파트 -->
    {% if page.sidebar_main %}
    <!--전체 글 수를 세기 위한 연산. sum 변수에 전체 글 수 저장-->
    {% assign sum = site.posts | size %}
    <nav class="nav__list" style="margin-top:1.5rem;">
        <input id="ac-toc" name="accordion-toc" type="checkbox" />
        <label for="ac-toc">{{ site.data.ui-text[site.locale].menu_label }}</label>
        <ul class="nav__items" id="category_tag_menu">
            <style>
                .hits {
                    width: auto; height: auto;
                    max-width: 120px;
                    max-height: 30px;
                    margin-bottom: 20px;
                }
            </style>
            <a href="https://hits.seeyoufarm.com"><img class="hits" src="https://hits.seeyoufarm.com/api/count/incr/badge.svg?url=https%3A%2F%2Ftrumanfromkorea.github.io&count_bg=%23007DFF&title_bg=%23555555&icon=&icon_color=%23E7E7E7&title=%F0%9F%8C%90+방문자수&edge_flat=false"/></a>

            <!--전체 글 수-->
            <li>
                🚀 <b><span style="font-size:0.8rem;"> 전체 글 수 <span
                            style="font-size:1rem; color : #4e89f0;">{{sum}}</span> 개</span></b>
            </li>

            <li>
                <!--여기가 카테고리 대분류 -->

                <!-- 앱 카테고리 -->
                <span class="nav__sub-title" style="font-size:1rem; color : #4e89f0;">App</span>
                <ul>
                    {% for category in site.categories %}
                    {% if category[0] == "Flutter" %}
                    <li><a href="/categories/flutter" class="nav__sub-title_sub">Flutter ({{category[1].size}})</a></li>
                    {% endif %}
                    {% endfor %}
                </ul>

                <!-- 문법 카테고리 -->
                <span class="nav__sub-title" style="font-size:1rem; color : #4e89f0;">Languages</span>
                <ul>
                    {% for category in site.categories %}
                    {% if category[0] == "Swift" %}
                    <li><a href="/categories/Swift" class="nav__sub-title_sub">Swift ({{category[1].size}})</a></li>
                    {% endif %}
                    {% endfor %}
                </ul>

                <!-- 스터디 카테고리 -->
                <span class="nav__sub-title" style="font-size:1rem; color : #4e89f0;">Studies</span>
                <ul>
                    {% for category in site.categories %}
                    {% if category[0] == "TIL" %}
                    <li><a href="/categories/TIL" class="nav__sub-title_sub">TIL ({{category[1].size}})</a></li>
                    {% endif %}
                    {% endfor %}

                    {% for category in site.categories %}
                    {% if category[0] == "Algorithm" %}
                    <li><a href="/categories/Algorithm" class="nav__sub-title_sub">Algorithm ({{category[1].size}})</a></li>
                    {% endif %}
                    {% endfor %}

                    {% for category in site.categories %}
                    {% if category[0] == "ETC" %}
                    <li><a href="/categories/ETC" class="nav__sub-title_sub">ETC ({{category[1].size}})</a></li>
                    {% endif %}
                    {% endfor %}
                    
                </ul>
                 
            </li>

        </ul>
    </nav>
    {% endif %}
</div>
{% endif %}